button{
    height: 100px;
    width: 105px;
    font-size: 18px;
}

#clearBtn{
    height: 75px;
    width: 420px;
}

.displayContainer{
    height: 100px;
    width: 420px;
    border: 2px solid black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}

.display{
    font-size: 35px;
    font-weight: 400;
    overflow: visible;
    overflow-wrap: anywhere;
}

.firstRow, .secondRow, .thirdRow, .fourthRow{
    display: flex;
}